body
{
background-color:#0b1118;
}

.navbar
{
	background-color: #0f1d2f;
	font-family: 'Kumbh Sans', sans-serif;
	
}



.navbar-dark .navbar-nav .nav-link
{
	 color:white;
	 padding: 20px 24px 8px 34px;
	 font-weight: 600;


}
.btn_color_1
{
	background-color: #057dfd;
	color: white;
}
.btn_color_1:hover
{
	color: white;
}
.navbar-dark .navbar-nav .nav-link:hover
{
	color:gray;
}
.btn-dark
{
	background: #6f7e8a;
}
a:hover
{
	text-decoration: none;
}

.rs_1
{
	color: white;
	font-weight: bold;
	padding: 45px;
	font-size: 65px;
	font-family: 'Roboto', sans-serif;
}
.rsr
{
	color: white;
}
.abc
{
	border: 1px solid black;
	
	border-radius: 25px;
	background-color:#1d252f;
	padding: 14px 67px 61px 33px;
	
}

.abc1
{
	color: white;
	font-weight: bold;
}

.abc2
{
	color:#5b728c;
	font-size:19px;

}
.abc3
{
	color:#5b728c;
	
}
.fa-star
{
	font-size: 20px;
	margin: 7px;
}
.checked
{
	color: yellow;
}

 .checked_1
 {
 	font-size: 26px; 
 	position: absolute;
 	top: 41px;
 	left: 46px;

 }
 .lg_2
 {
 	line-height: 38px;
 }
 .checked_2
 {
  font-size: 35px; 

 }
 .checked_5
 {
 	font-size: 31px;
   text-align: center;
   line-height: 69px;
       padding: 0px 0px 0px 25px;
}


 }
 .rst
 {
 	padding: 26px;
 }
 .ts1
 {
 	
 	border-radius: 46px; 
 	padding: 0px 40px 0px 77px;
 	height: 78px;
 	color: white;
 }
 p
 {
 	margin-bottom: 4px;
 }
 .ts_22
 {
 	font-size: 21px;
 	line-height: 16px;
 
 }
 .ts_11

 {
 	font-size: 21px;
 	
 }

.bg-gray 
{
    background-color: #263240;
 
}

.ts1:hover
{
	background-color: #007bff;
}


.rs_2
{
	color: #5b728c;
	font-family: 'Roboto', sans-serif;

	font-size: 20px;
}
.rs_4
{
	color:  #5b728c;
	
	
	font-size: 25px;
}
.rs_11
{
	padding: 54px 30px 36px 47px;
}
.rs_12
{
	padding: 50px 79px 1px 31px;
}
.rs_13
{
	position: absolute;
	bottom: 0px;
}

.ts
{
	font-family: 'Roboto', sans-serif;
	padding-top: 20px;
	padding-bottom: 5px;

}
.cl_1
{
	color: white;
}



.cl_1 
{
	font-weight: bold;
}
.cl_2 
{
	color: #5b728c;
}
.cl_3
{
	font-weight: bold;
	color:var(--contrast-beta)
	font-size: 26px;
}
.olymp_img
{
	padding: 56px 0px 0px 106px;
}
.btn_1
{
	padding: 0px 97px 93px 0px;
}
.text-uppercase
{
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	padding: 0px 8px 0px 7px;
}
.list-unstyled
{
	padding:18px 0px 0px 0px;
	padding: 15px;
}
a
{
	color:#73abea;
}
a:hover
{
	color: white;
}
.footer-copyright
{
	color: white;
}
@media only screen and (max-width: 991px)
 {
 	.rs_13
{
	position: relative;

}
  
}

  @media only screen and (max-width: 494px)
{
	.ts1

	 {
    border-radius: 46px;
    padding: 8px 0px 0px 69px;
    height: 78px;
    color: white;
    margin-top: 10px;
}
    .fa-star
 {
    font-size: 15px;
    margin: 8px;
}
}

@media only screen and (max-width: 1196px)
{

li
{
	padding: 20px 0px 8px 0px;
}
}

 @media only screen and (max-width: 1198px)
 {
  .navbar-dark .navbar-nav .nav-link
   {
    color: white;
    padding: 2px 33px;
}
}
/******footer*********/
.footer_color
{
	background: #0f1d2f;
}
   
/*****************breadcrumb*****************/

   ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #1f3753;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: white;
  content: "/\00a0";
}
.breadcrumb_color
 {
 	color: gray;
 }
ul.breadcrumb li a
 {
  color:white;
  text-decoration: none;
}


/************************about**************/


.about_1
{
color: white;
font-size: 36px;
padding: 10px 10px 10px 31px;
font-family: 'Roboto', sans-serif;



}
.about_2
{
  color: white;
padding: 10px 10px 10px 34px;
font-size: 16px;
}
.about_3
{
	border: 2px solid #172331;
	background-color: #112135;

}
.about_3:hover
{
	background-color:white;
	

}
.about_3:hover .about_1
{
	
	color:#1f3a5b;
	
}
.about_3:hover .about_2
{
	
	color: #1f3a5b;
	
}
.about_5
{
	color: white;
padding: 0px 0px 25px 51px;
font-family: 'Roboto', sans-serif;
}
.about_6
{
	color: white;
padding: 0px 1px 1px 43px;
font-size: 19px;
}
/*********************contact***************/

.contact_1
{
	color: white;
	padding: 15px 0px 29px 38px;
	font-family: 'Roboto', sans-serif;
	background-color: #12263e;

}
.contact_ts
{
	padding-left:41px;
}
.contact_2
{
	
	padding: 2px 26px 0px 1px;

}

.contact_5
{
	padding: 0px 0px 0px 28px;
font-size: 16px;
}
.contact_6
{
	font-size: 65px;
	color:blue;
	padding: 11px 2px 1px 67px;
}
/***********************login page****************/

.login-form .form-control{
          border-radius: 0;
        }
        .btn-login{
          color: #343a40;
          background-color: #007bff;
          color: white;
          border-radius: 0;
          font-size: 18px;
          width: 100%;

        }
        .color
        {
        	background-color:#12263e;
        }
        .bg
        {
        	background-image: url(image/bg2.png);
        	 background-repeat: no-repeat;
            
            background-position: bottom;
        }

/***************register page******************/

	/***********profile page********************/

      	
      	
      		.color_1
      		{
      			background-color:#12263e;
      			
      		}
      		
      		.icon
      		{
      			padding: 9px 18px 7px 0px;
      		}
      	   .icon_1
      	   {
      	   	font-size: 30px;
      	    padding: 6px 7px 3px 8px;
      	   	background-color: gray;
      	   	border-radius: 10px;
      	   }
	/***************card**************/
	.card_color
	{
		color:#1c456f;
		font-weight: bold;
	}
	.card_color:hover
	{
		color: gray;
	}
	/****************dashboard *************/



.dashboard_3
{
	
	background-color: #112135;
	height: 100%;
	color: white;

}
.dashboard_3:hover
{
	background-color:#007bff;
	

}



.dash_height
{
	padding: 23px 16px 0px 16px;
}
.icon_2
{
	padding: 25px 0px 0px 23px;
	font-size: 20px;
}
.dash_test_1
{
	font-size: 28px;
	font-weight: bold;
	line-height: 3px;
	margin-left: 18px;
}
.dash_test_2
{
  

	line-height: 3px;
	margin-left: 18px;
}

.dash_table_1
{
	color: gray;
}